Lowercase field name

Hello Ale!

I've found that your filter inserts e.g. `Dkim-Signature:` so filed names with sentence case.

Please see https://tools.ietf.org/html/rfc6376#section-3.5 and fix field names. (maybe other field names should be in UPPER-Case too)
Thanks.


The header field is defined in dkim.h of libopendkim, and then used like so (zdkimfilter.c:1616):
```c
			fprintf(fp, DKIM_SIGNHEADER ": %s\n", hdr);
```
All OpenDKIM versions I've seen use DKIM-Signature.  It should work in lowercase, methink.  Traditionally, header fields are case insensitive.  Usually this derives from the ABNF string terminators being case insensitive, as defined by [RFC5234 Section 2.3](https://tools.ietf.org/html/rfc5234#section-2.3).  However, I cannot find a formal definition for the DKIM-Signature header field name.

Thanks!
I use libopendkim11                   2.11.0~alpha-10+deb9u1
Looking up its source....

It is

> dkim.h:#define  DKIM_SIGNHEADER         "DKIM-Signature"

Could it be that later it gets converted to lowercase?

Excuse ma Ale!

Protonmail did the conversion.

Mail.ru shows:

> DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/simple; d=szepe.net;
	s=dkim201802; t=1518095126;
	bh=bzAwa8Q1UjGqDdw3wnuNnKZmDVHze8/P1jYLaYAsmuI=; l=5423;
	h=Date:From:To:Subject;
	b=f9FTZuo5HjuxbAG6TB2bbOQk5Hq0rRlCWMdrXTz745DQNQ+R1m6xvHG7T6b7qWsLW
	 tQgtzCNwfXMO3/URngO66jOMxx2HWYZriU1uQlSZGXMtnLOr+6jIPa/hRkGdwGCw9Q
	 O9gOcLpEG3RNR4tQphVRbs4sSpGag5bw5lD6Vo/B1ob2IiSc2LlrXXRnJLJXMY+3Ou
	 SsYHSRWxVw+fXjLgBLYvFV93QzKdaj9y7WFEOP0Ra/DAzvvdYHj+DCwH67kQMiJW5r
	 WUgZJYBmG4wYsfdUNtISV0Vg2/OyJt9IaIx94xUJp1iHwFBxVdtvNa1Iaf2umhfMzL
	 Ifu98angHV5Qw==

If the canonicalization is relaxed, DKIM signatures are not broken by that change.

Like all mail header field names, DKIM-Signature is case insensitive.  The standard doesn't explicitly say so, so I reported an [RFC Errata](https://www.rfc-editor.org/errata_search.php?rfc=6376&eid=5260).